body {
	background-color: black; 
} 

.container {
	display: grid;
	grid-template-columns: 5fr 9fr;	
} 

.capitalize {
	text-transform: capitalize;
  } 

.jumbotron {
	margin-bottom: 0;
	background: url('beer.jpeg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#search-bar {
	position: absolute;
  	right: 0px;
}

#show-panel {
	color: white;
}

#list-panel {
	height: 85vh; 
}

::-webkit-scrollbar {
	width: 10px;
  }




  